/* all */

body{
    background-color:#89B1A8;
    box-sizing: border-box;
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    font-family: monospace;
    font-size:14px;
    letter-spacing: 2px;
}

p,h1,h2,h3,h4,h5,h6{
    padding:0;
    margin:0;
}

h1{
    font-size:40px;
}

#root{
    /* background-color:#026FB4; */
    background-color: rgb(96 149 255);
    width:98%;
}   

ul{
    padding:0;
    margin:0;
    list-style:none;
}

.form-input{
    width: 60%;
    height:30px;
}

button{
    cursor: pointer;
}


/* ps */
@media screen and (max-width:768px){
    body{
        font-size:12px;
    }
    h1{
    font-size:25px;
    }

    #root{
    width:100%;
}
}